<main>
    <div class="container-fluid m-3">
        <h3>Edit Card</h3>
        <div class="card p-1 m-4" style="width: 50rem;">
           <div class="card-header">Prompt: {{card.cardPrompt}}</div>
           <br>
           <div class="card-body">Answer: {{card.cardAnswer}}</div>
           <div class="card-footer">
                <form action="/{{card.parentTopic}}/editCard/{{card._id}}?_method=PATCH" method="POST">
                    <label for="cPromptInput">Prompt</label>
                    <input type="text" name="cardPrompt" id="cPromptInput" value={{card.cardPrompt}}>
                    <br>
                    <label for="cAnsweInput">Answer</label>
                    <input type="text" name="cardAnswer" id="cAnswerInput" value={{card.cardAnswer}}>
                    <br>
                    <input type="submit" class="btn btn-primary" value="Submit changes">
                </form>
            </div>
        </div>
    </div>
</main>      

    {{!-- <div class="showTopicContainer">
        <div class="topicData">
            Prompt: {{card.cardPrompt}}<br>
            Answer: {{card.cardAnswer}}<br>
            Parent Topic Id: {{card.parentTopic}}<br>
            Card Id: {{card._id}}<br>
        </div>
        <div class="topicActions">
                <form action="/{{card.parentTopic}}/editCard/{{card._id}}?_method=PATCH" method="POST">
                    <input type="text" name="cardPrompt" id="cPromptInput" value={{card.cardPrompt}}>
                    <label for="cPromptInput">Card Prompt</label>
                    <input type="text" name="cardAnswer" id="cAnswerInput" value={{card.cardAnswer}}>
                    <label for="cAnsweInput">Card Answer</label>
                    <input type="submit" value="Submit changes">
                </form>
        </div>
    </div> --}}