<main>
    <div class="container-fluid m-3">
        <h3>LIST OF TOPICS</h3>
        {{#if allTopics}}
            {{#each allTopics}}
            <div class="card p-1 m-4" style="width: 50rem;">
                <div class="card-header">Topic Name: {{topicName}}</div>
                <div class="card-body">
                    <div class="card-text">Topic Description: {{topicDescription}}</div>
                </div>
                <div class="card-footer"><a href="/{{parentUser}}/topic/{{_id}}" 
                    class="btn btn-primary">View This Topic</a>&emsp;&emsp;
                    <a href="/{{parentUser}}/createTopic" 
                    class="btn btn-primary">Create A New Topic</a></div>
            </div>
            {{/each}}
        {{else}}
            <h3>There are no lists for this user. Create one on the users page</h3>
        {{/if}}
    </div>
    {{!-- {{#if allTopics}}
        <ul>
            {{#each allTopics}}
            <li>
                <h3>Topic Name: {{topicName}}</h3>
                <h3>Topic Description: {{topicDescription}}</h3>
                <h3>Parent User Id: {{parentUser}}</h3>
                <a href="/{{parentUser}}/topic/{{_id}}">View This Topic</a><br> {{! will be view single topic url}}
                <h5>Last time this topic completed: {{lastCompletedDate}}</h5>
                <h5>Topic _id: {{_id}}</h5>
                <a href="/{{parentUser}}/createTopic">Create New Topic</a>
            </li>
            {{/each}}
        </ul>
     {{else}}
     <h3>There are no lists for this user. Create one on the users page</h3>
     {{/if}}    --}}
</main>