<main>
    <div class="container-fluid m-3">
        <div class="h2">Topic Page</div>
        <div class="card-column p-1 m-4" style="width: 35rem;">
            <div class="card-header">Topic Name: {{topic.topicName}}</div>
            <div class="card-body">Topic Description: {{topic.topicDescription}}</div>
            <div class="card-footer">
                <div class="p-1">
                    <a href="/{{topic.parentUser}}/topic/{{topic._id}}/cards" class="btn btn-primary">Show Cards</a>
                    <a href="/{{topic._id}}/createCard" class="btn btn-primary">Create A Card</a> 
                </div>
                <div class="p-1">
                    <a href="/{{topic.parentUser}}/editTopic/{{topic._id}}" class="btn btn-primary">Edit this Topic</a>
                    <a href="/{{topic.parentUser}}/showTopics" class="btn btn-primary">Show Topics</a>
                </div> 
                <div class="p-1">     
                        <form action="/{{topic.parentUser}}/topic/{{topic._id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_id" value={{topic._id}}>
                            <input type="submit" class="btn btn-danger" value="Delete this Topic">
                        </form>
                </div>
            </div>
        </div>
    </div>
</main>       