<main>
    <h1>LIST OF TOPICS</h1>
    {{#if allTopics}}
        <ul>
            {{#each allTopics}}
            <li>
                <h3>Topic Name: {{topicName}}</h3>
                <h3>Topic Description: {{topicDescription}}</h3>
                <h3>Parent User Id: {{parentUser}}</h3>
                <a href="/{{parentUser}}/{{_id}}">View This Topic</a><br> {{! will be view single topic url}}
                <h5>Last time this topic completed: {{lastCompletedDate}}</h5>
                <h5>Topic _id: {{_id}}</h5>
                <a href="/{{parentUser}}/createTopic">Create New Topic</a>
            </li>
            {{/each}}
        </ul>
     {{else}}
     <h3>There are no lists for this user. Create on on the users page</h3>
     {{/if}}   
    <a href="/">Back to Landing Page</a>
    <br>
    <a href="/showUsers">Show Existing Users</a>
</main>