<main>
    <div class="showTopicContainer">
        <div class="topicTitle">
             Topic Name: {{topic.topicName}}
        </div>
        <div class="topicData">
            Topic Description: {{topic.topicDescription}}<br>
            Parent User Id: {{topic.parentUser}}
            Topic Id: {{topic._id}}
            <a href="/{{topic.parentUser}}/showTopics">See All Topics for this User</a>
        </div>
        <div class="topicActions">
                <a href="/{{topic.parentUser}}/edit/{{topic._id}}">Edit Topic</a>
                <form action="/{{topic.parentUser}}/{{topic._id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_id" value={{topic._id}}>
                    <input type="submit" value="Delete this Topic">
                </form>
            {{!--<<<<View Users Cards>>>> --}}
        </div>
    </div>
    <a href="/">Back to Landing Page</a>
    <br>
    <a href="/showUsers">Show Existing Users</a>
    <br>
    <a href="/{{topic.parentUser}}">Show this User's Page</a>
</main>           