<main>
    <div class="container-fluid m-3">
        <h3>Card Page</h3>
       <div class="card p-1 m-4" style="width: 50rem;">
           <div class="card-header">Prompt: {{card.cardPrompt}}</div>
           <div class="card-body">Answer: {{card.cardAnswer}}</div>
           <div class="card-footer">
                <a href="/{{card.parentTopic}}/editCard/{{card._id}}" class="btn btn-primary">Edit Card</a>
                &emsp;&emsp;
                <form action="/{{card.parentTopic}}/editCard/{{card._id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_id" value={{card._id}}>
                    <input type="hidden" name="parentTopic" value={{card.parentTopic}}>
                    <input type="submit" class="btn btn-primary" value="Delete this Card">
                </form>
           </div>
        </div>
    </div>
</main>      